<div class="container">
    <div class="text-center text-uppercase mt-4">
        <h1 class="heading">{{ pokemon.name.toUpperCase() }}</h1>
    </div>

    <div class="row justify-content-center">
        <!-- COLUMNA IZQUIERDA -->
        <div class="col-lg-3 col-md-2 my-auto">
            <div class="inner">
                <table class="table  text-capitalize">
                    <tr>
                        <td class="text-center table-title ">ID</td>
                        <td>#{{ pokemon.id }}</td>
                    </tr>
                    <tr>
                        <td class="text-center table-title ">Height</td>
                        <td>{{ heightInMetres + "m ( " + heightInFeetInches + " )" }}</td>
                    </tr>
                    <tr>
                        <td class="text-center table-title ">Weight</td>
                        <td>{{ weightInKgs + "kg ( " + weightInPounds + "lbs. )" }}</td>
                    </tr>
                    <tr>
                        <td class="text-center table-title ">Type</td>
                        <td>
                            <span>
                                <ng-container *ngFor="let type of pokemon.types; let last = last">
                                    <span>{{ type.type.name }}</span>
                                    <ng-container *ngIf="!last"> & </ng-container>
                                </ng-container>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center table-title">Abilities</td>
                        <td>
                            <div class="row">
                                <div class="text-capitalize " *ngFor="let ability of pokemon.abilities">{{
                                    ability.ability.name }}</div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

        <!-- COLUMNA CENTRAL (IMAGEN POKEMON) -->
        <div class="col-lg-6 col-md-8 my-auto">
            <div class="inner d-flex justify-content-center">
                <div>
                    <div class="image-container">
                        <img class="image-pokemon" [src]="'assets/images/pokemon-images/' + pokemon.id + '.png'"
                            [alt]="pokemon.name">
                    </div>
                </div>
            </div>
        </div>

        <!-- COLUMNA DERECHA -->
        <div class="col-lg-3 col-md-2 statDiv my-auto">
            <div class="inner">
                <table class="table text-capitalize ">
                    <tr>
                        <td class="text-center table-title">{{pokemon.stats[0].stat.name}}</td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="255"
                                [style.width.%]="pokemon.stats[0].base_stat">
                                {{ pokemon.stats[0].base_stat }}</div>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-center table-title">{{pokemon.stats[1].stat.name}}</td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="255"
                                [style.width.%]="pokemon.stats[1].base_stat">
                                {{ pokemon.stats[1].base_stat }}</div>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-center table-title">{{pokemon.stats[2].stat.name}}</td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="255"
                                [style.width.%]="pokemon.stats[2].base_stat">
                                {{ pokemon.stats[2].base_stat }}</div>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-center table-title">{{pokemon.stats[3].stat.name}}</td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="255"
                                [style.width.%]="pokemon.stats[3].base_stat">
                                {{ pokemon.stats[3].base_stat }}</div>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-center table-title">{{pokemon.stats[4].stat.name}}</td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="255"
                                [style.width.%]="pokemon.stats[4].base_stat">
                                {{ pokemon.stats[4].base_stat }}</div>
                        </div>
                    </tr>
                    <tr>
                        <td class="text-center table-title">{{pokemon.stats[5].stat.name}}</td>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="255"
                                [style.width.%]="pokemon.stats[5].base_stat">
                                {{ pokemon.stats[5].base_stat }}</div>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>