/* // Perspective only for desktops */
@media only screen and (min-width: 992px) {

    /* // BioDIv tabla de la izquierda*/
    .bioDiv {
        perspective: 400px;
        margin: auto 0;
        width: 20em;
    }

    .bioDiv:hover .inner {
        transform: rotate(0)
    }

    .bioDiv .inner {
        transition: .2s;
        transform: rotateY(15deg);
    }

    /* // statDiv tabla de la derecha */
    .statDiv {
        perspective: 400px;
        margin: 4em auto;
        width: 20em;
        padding-left: 0;
        padding-right: 1rem;
        -webkit-font-smoothing: antialiased !important;

    }

    .statDiv:hover .inner {
        transform: rotate(0);
    }

    .statDiv .inner {
        transition: .2s;
        transform: rotateY(-15deg);
    }
}


/* // Abilities Styling */
.ability,
.variety {
    border-radius: 2px;
    padding: 2px 3px;
    margin-right: 6px;
    white-space: nowrap;
    line-height: initial;
}

.variety {
    margin-top: 5px;
    display: inline-block;
}

.formsBlock {
    padding-top: 8px;
}

.hiddenAbility,
.selectedForm,
.selectedEvo {
    filter: brightness(110%) saturate(50%);
}

/* Style table */
table {
    border-collapse: separate;
    border-spacing: 0 25px;
    max-width: max-content;
    font-size: medium;
}

.table-title {

    width: 50%;
    font-size: medium;
    color: #6d6d6d;
    font-weight: bold;
}

.heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: #6d6d6d;

}


/* //Type Box */
.icon-type {
    display: inline;
    border-radius: 4px;
    padding: 3px;
    margin: 0 0 0 15px;

}

/* /Initial Stat Bar Color */
.progress-bar {
    background-color: white;
    width: 0;
    font-size: 1rem;
    text-align: right;
    transition: width 1.5s ease-in;
}

.progress-bar span {
    padding-right: 4px;
}

/* style image */

.image-pokemon {

    transform: scale(0.8);
    /* Aumenta/disminuye el tamaño en un x% */
}

.img-icon-type-detail {
    width: 15px;
}

/* EVOLUTION */
.evolution-title {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: center;

}

.evolution-title span {

    padding: 2px 4px 4px;
}


.evolutions {
    display: flex;
    justify-content: space-between;
}

.evolution {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.evolution-image {
    width: 180px;
    height: 180px;
}

.evolution-name {
    margin-top: 10px;
    text-align: center;
    text-transform: capitalize;
}



/* ------------------TIPOS DE POKEMON------------------------ */
.pokemon-type-bug {
    background-color: #a8b820;
}

.pokemon-type-dark {
    background-color: #705848;
}

.pokemon-type-dragon {
    background-color: #7038f8;
}

.pokemon-type-electric {
    background-color: #f8d030;
}

.pokemon-type-fairy {
    background-color: #ee99ac;
}

.pokemon-type-fighting {
    background-color: #c03028;
}

.pokemon-type-fire {
    background-color: #f08030;
}

.pokemon-type-flying {
    background-color: #a890f0;
}

.pokemon-type-ghost {
    background-color: #705898;
}

.pokemon-type-grass {
    background-color: #78c850;
}

.pokemon-type-ground {
    background-color: #e0c068;
}

.pokemon-type-ice {
    background-color: #98d8d8;
}

.pokemon-type-normal {
    background-color: #a8a878;
}

.pokemon-type-poison {
    background-color: #a040a0;
}

.pokemon-type-psychic {
    background-color: #f85888;
}

.pokemon-type-rock {
    background-color: #b8a038;
}

.pokemon-type-steel {
    background-color: #b8b8d0;
}

.pokemon-type-water {
    background-color: #6890f0;
}