<!-- NOMBRE CENTRADO -->
<div>
    <h1 class="pokemon-name">{{ pokemonDetails.name.toUpperCase()}}</h1>

</div>
<!-- INFORMACION CENTRAL -->

<div class="pokemon-detail-container">
    <!-- LADO DERECHO -->
    <div>
        <p>Id: {{pokemonDetails.id}}</p>
        <p>Height: {{ pokemonDetails.height }}</p>
        <p>Weight: {{ pokemonDetails.weight }}</p>
        <p>Base Experiencie: {{ pokemonDetails.base_experience }}</p>
        <!-- <p>Type: {{ pokemonDetails.types[0].type.name}} & {{ pokemonDetails.types[1].type.name}}</p> -->

    </div>

    <!-- imagen central -->
    <div>

        <img class="img-fluid mx-auto d-block " [src]="'assets/images/pokemon-images/'+pokemonDetails.id+'.png'"
            alt="{{ pokemonDetails.name }}">
    </div>
    <!-- lado izquierdo -->
    <div>
        <h3>Abilities:</h3>
        <ul>
            <li *ngFor="let ability of pokemonDetails.abilities">
                {{ ability.ability.name }}
            </li>
        </ul>
    </div>

</div>




<!-- <div class="pokemon-detail-container" *ngIf="pokemonDetails"> -->




<!-- </div> -->