.pokemon-detail-container {
    display: flex;
    justify-content: center;
    margin: 8%;
    height: 100vh;
}

.pokemon-name {
    font-size: xx-large;
    text-align: center;
}

.img-fluid {
    width: 300px;
}