
<div class="d-flex justify-content-center m-3 ">
    <div class="group">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
            <!-- Código del SVG -->
        </svg>
        <input [(ngModel)]="searchText" name="searchText" (input)="searchPokemon()" placeholder="Search pokemon..."
            type="search" class="input" autocomplete="off">
    </div>



</div>

<ng-container  *ngIf="isLoading">
<div  id="page">
    <div id="container">
        <div id="ring"></div>
        <div id="ring"></div>
        <div id="ring"></div>
        <div id="ring"></div>
        <div id="h3">Loading...</div>
    </div>
</div>

</ng-container>



<div class="pokemon-card-container" *ngIf="!isLoading">
    <ng-container *ngIf="listaPokemon.length > 0; else noResults">
        <app-poke-card *ngFor="let pokemon of listaPokemon" [pokemon]="pokemon"
            [hidden]="!matchesFilter(pokemon)"></app-poke-card>
    </ng-container>
</div>

<ng-template #noResults>
    <p>No se encontraron resultados.</p>
</ng-template>