<nav [ngClass]="navbarColor" class="navbar m-3">

    <div class="container-fluid">
        <a class="navbar-brand">POKEDEX</a>

        <form class="d-flex">
            <input mat-in class="form-control me-2" type="search" placeholder="Search" autocomplete="off"
                aria-label="Search">
            <button mat-mini-fab matTooltip="Primary" color="warn" aria-label="Example mini fab with a heart icon">
                <mat-icon>search</mat-icon>
            </button>

        </form>

    </div>
</nav>