<nav class="navbar navbar-light bg-light mb-5 ">
    <div class="container-fluid">
        <a class="navbar-brand">POKEDEX</a>

        <form class="d-flex">
            <input mat-in class="form-control me-2 border-radius" type="search" placeholder="Search" autocomplete="off"
                aria-label="Search">
            <button mat-mini-fab matTooltip="Primary" color="primary" aria-label="Example mini fab with a heart icon">
                <mat-icon>search</mat-icon>
            </button>

        </form>

    </div>
</nav>