<mat-card class="pokemon-card">
    <div>
        <button mat-mini-fab>
            <ng-container *ngFor="let type of pokemon.types; let last = last">
                {{ type.type.name }}
                <ng-container *ngIf="!last"> & </ng-container> 
                <!-- para enumerar los typos si hay mas de uno.  -->
            </ng-container>

        </button>

    </div>

    <mat-card-subtitle>{{ pokemon.id }}</mat-card-subtitle>
    <mat-card-title>{{ pokemon.name.toUpperCase() }}</mat-card-title>
    <img class="pokemon-image" [src]="'assets/images/pokemon-images/'+(pokemon.id)+'.png'" [alt]="pokemon.name" />
    <a [routerLink]="['/pokemon',(pokemon.name)]" mat-button>Info</a>

</mat-card>