
.img-pokemon-type{

    border-radius: 50%;
    max-width: 100%;
    padding: 12%;
}
.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 11rem;
    height: 14rem;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    font-size: medium;
    color: gray;
    transition: background-color 3000ms ease;

    .pokemon-card-info {
        display: flex;

        .id-name {
            flex: 0 0 75%;
            flex-grow: 1;
            max-width: 75%;
            text-align: left;
            position: relative;
            top: -6px;

            .card-id {
                font-size: 1.7rem;
                margin: 0;
            }
        }

        .icons {
            flex: 0 0 25%;
            max-width: 25%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-grow: 1;
            max-width: 100%;
            align-items: flex-end;
            

            .icon:hover {
                filter: saturate(200%);
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }

    .pokemon-card-img {
        height: 120px;
    }
}

.pokemon-card:hover {
    background-color: #dbdbdb;
    transition: background-color 300ms ease;
}

@media (max-width: 500px) {
    .pokemon-card {
        max-width: 33.33vw;
        height: 8rem;
        font-size: x-small;

        .pokemon-card-info {
            .id-name {
                position: unset;
                top: unset;

                .card-id {
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                }

                .card-name {
                    font-size: 0.75rem;
                }
            }

            .icons {
                .icon {
                    height: 20px;
                    width: 20px;
                    
                }
            }
        }

        .pokemon-card-img {
            height: 68px;
        }
    }

}

.pokemon-type-bug {
    background-color: #a8b820;
}

.pokemon-type-dark {
    background-color: #705848;
}

.pokemon-type-dragon {
    background-color: #7038f8;
}

.pokemon-type-electric {
    background-color: #f8d030;
}

.pokemon-type-fairy {
    background-color: #ee99ac;
}

.pokemon-type-fighting {
    background-color: #c03028;
}

.pokemon-type-fire {
    background-color: #f08030;
}

.pokemon-type-flying {
    background-color: #a890f0;
}

.pokemon-type-ghost {
    background-color: #705898;
}

.pokemon-type-grass {
    background-color: #78c850;
}

.pokemon-type-ground {
    background-color: #e0c068;
}

.pokemon-type-ice {
    background-color: #98d8d8;
}

.pokemon-type-normal {
    background-color: #a8a878;
}

.pokemon-type-poison {
    background-color: #a040a0;
}

.pokemon-type-psychic {
    background-color: #f85888;
}

.pokemon-type-rock {
    background-color: #b8a038;
}

.pokemon-type-steel {
    background-color: #b8b8d0;
}

.pokemon-type-water {
    background-color: #6890f0;
}


