<mat-card class="pokemon-card">
<div>
    <button mat-mini-fab [ngClass]="getPokemonTypeClass()">
        <img alt="{{ pokemon.types && pokemon.types.length > 0 ? pokemon.types[0].type.name : '' }}"
             [src]="pokemon.types && pokemon.types.length > 0 ? 'assets/type-icons/png/' + pokemon.types[0].type.name + '.png' : ''">
      </button>
       
</div>
   

    <mat-card-subtitle>{{ extractIdFromUrl(pokemon.url) }}</mat-card-subtitle>
    <mat-card-title>{{ pokemon.name.toUpperCase() }}</mat-card-title>
    <img class="pokemon-image" [src]="'assets/images/pokemon-images/'+extractIdFromUrl(pokemon.url)+'.png'"
        [alt]="pokemon.name" />
    <a [routerLink]="['/pokemon', extractIdFromUrl(pokemon.url)]" mat-button>Info</a>

</mat-card>